@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&family=Oswald:wght@300&display=swap');


* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Lato, sans-serif;
    font-weight: 300;
    color: #3a3a3a;
    background-color: rgb(160, 167, 162);
}

/* headings and logo */

h1, h2 {
    font-family: Oswald, sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #252525;
}

#logo {
    float: left;
    font-size: 250%;
    margin-left: 20px;
}

/* navigation links */

#menu {
    font-size: 150%;
    letter-spacing: 2px;
    padding-left: 10px;
}

#menu, #logo {
    line-height: 75px;

} 

#menu li {
    float: left;
    list-style-type: none;
    margin-right: 30px;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;

}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* hero image and cover text*/

#hero-outer {
    height: 800px;
    width: 100%;
    overflow: hidden;
    position: relative;
}

#hero-image {
    height: 700px;
    width: 100%;
    background: url(../images/pexels-photo-1937336.jpeg) no-repeat;
    opacity: 0.3;
    position: center;
    background-size: cover;


/* animates zoom effect on loading page */

    animation-name: hero-zoom;
    animation-duration: 5s;
    animation-fill-mode: forwards;

}

#image2 {
    height: 300px;
    width: 100%;
    background: url(../images/pexels-artem-beliaikin-1036856.jpg) no-repeat;
    position: relative;
    opacity: 2.0;
    padding-left: 68px;
    padding-bottom: 90px;
    margin-top: 213px

}

#color-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 47%;
    height: 390px;
    background-color: black;
    opacity: 0.6;
 }
/* creates level of zoom for hero image */

@keyframes hero-zoom {
    from {
        transform: scale(1);

    }
    to {
        transform: scale(1.1);

    }
}

/* club-ethos */

#club-ethos {
    width: 90%;
    height: 700px;
    margin: -690px auto;
}

#left-about {
    padding-top: 30px;
    width: 100%;
    float: left;
    background-color: none;
    color: black;
    font-weight: bold;
}

#right-about {
    padding-top: 0px;
    width: 33%;
    float: right;
    background-color: none;
    color: black;
    font-weight: bold;
}

#center-about {
    width: 33%;
    margin: -690 auto;
    background-color: none;
    color: black;
    font-weight: bold;
}

hr {
    border-top: 1px solid #3a3a3a;
    width: 100%;
    margin: 5px;
}

.left-about-heading {
    width: 100%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    color: black;
    font-weight: bolder;
}

.left-about-heading2 {
    width: 100%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
    color: black;
    font-weight: bolder;
}

.right-about-heading {
    width: 100%;
    float: right;
    line-height: 25px;
    clear: both;
    margin-bottom: 40px;
}

.right-about-heading h2 {
    text-align: right;
    margin-top: 20px;
}

.right-about-heading h2 {
    text-align: right;
}

#welcome {
    text-align: left;
    margin: 40px 170px;
    font-size: 180%;
    padding-top: 20px;
}

/* footer */

footer {
    height: 150px;
}

.social-networks {
    text-align: center;
}

.social-networks > li {
    display: inline;
}

.social-networks i {
    font-size: 160%;
    margin: 1%;
    padding: 5%;
    color: #3a3a3a
}

/* gallery */

#photos {
    clear: both;
    line-height: 0;
    column-count: 4;
    column-gap: 0;
}

#photos > img {
    width: 100%;
}

/* media queries */

/* for larger to medium screens size from 1200 px and down */

@media screen and (max-width: 1200px) {
    #club-ethos {
        width: 65%;
        height: 1200px;
        margin: 0 auto;
    }

    #welcome {
        padding: 30px 0;
        margin: 0;
    }

    #left-about, #right-about {
        width: 100%;
        float: left;
        padding: 0;
    }

    #center-about {
        clear: both;
        width: 100%;
        float: left;
        padding: 0;
    }

    #times div {
        width: 100%;
        clear: both;
        height: 150px;
        padding: 0;
    }

    hr {
        display: none;
    }

}

/* for medium screens size from 950px wide and down */

@media screen and (max-width: 950px) {
    #menu {
        clear: left;
        float: left;
        margin: 0 auto;
        margin-left: 30px;
        margin-bottom: 20px;
        line-height: 25px;
    }

    #cover-text {
     left: 0; 
    }

    #club-ethos {
        width: 90%;
        height: 1200px;
        margin: 0 auto;
    }

    .left-about-heading, .right-about-heading {
        width: inherit;
    }

    .left-about-heading h2, .right-about-heading h2 {
        width: 100%;
        text-align: center;
    }
    
    .left-about-heading p, .right-about-heading p {
        text-align: center;
        padding: 0 20px;

  }

  #photos {
      column-count: 3;
  }
}

/* for small screens size from 800px and down */

@media screen and (max-width: 800px) {
    #photos {
        column-count: 2;
    }
}

/* Form */

.form-section {
    clear: left;
    background: url(../images/pexels-photo-5908251.jpeg);
    background-size: cover;
    background-position: center;
    height: 700px;
}

.signup-form {
    margin: 100px 10% 0 0;
    color: #fff;
    background-color: rgba(80, 79, 79, 0.6);
    max-width: 500px;
    position: absolute; 
    left: 30%;
    padding: 30px;
    
}

.signup-form h2 {
    color: #fafafa;
    margin-bottom: 20px
}

.text-input {
    background: transparent;
    color: #fafafa;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 1px solid #fafafa;
    border-color: #fafafa;
    border-radius: 2px;
}
.text-input:hover {
    border-color: #313131;
}

.join-button {
    margin-top: 20px;
    margin-left: 200px;
    border-radius: 2px;
    padding: 15px 32px 15px 32px;
    text-align: center;
    font-size: 100%;
    background-color: rgb(160, 167, 162);
    color: #fafafa;
    display: block;
}